.container {
  margin: 20px auto;
  padding: 40px 20px;
  width: 900px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 2px 6px 0px #ccc;
  border-radius: 5px;
  font-family: roboto;
}

.title {
  color: var(--color-primary);
}

.mainTitle {
  composes: title;
  font-size: 50px;
}

.secondaryTitle {
  composes: title;
  margin-top: 50px;
}
